<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Space Escape</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <link href="style.css" rel="stylesheet" />
</head>
<body class='body'>
  <header class="header">
    <h1> Space Escape</h1> <h2 class='italic'>Take a break from the noise.</h2>
  </header>
  <main class="main" id='app'>
    <h3 class='error-message' v-if="error">
      Uh-oh. The data seems to be lost in space.</h3>
    <dailyimage
      v-for="image in images"
      v-bind:key="image.date"
      v-bind:image="image"
    ></dailyimage>
  </main>
  <button onclick="goToToday()" id="top-button" title="today">Back To Today</button>
  <script src="app.js"></script>
</body>
</html>
