.blueP {
  color: whitesmoke;
  text-align: center;
}


.header {
  /* background-color: darkgrey; */
  color: whitesmoke;
  /* height: 20vh; */
  text-align: center;
}

.body {
  background-image: url('./img/space.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.daily-container {
  border: 1px solid whitesmoke;
  background-color: #0a0d1a;
  /* padding: 2%; */
  /* display: flex; */
  /* flex-direction: column; */
}

.image {
  width: 97vw;
}
